# Compiled class file
backend/*.class

# Log file
backend/*.log

# BlueJ files
backend/*.ctxt

# Mobile Tools for Java (J2ME)
backend/.mtj.tmp/

# Package Files #
backend/*.jar
backend/*.war
backend/*.nar
backend/*.ear
backend/*.zip
backend/*.tar.gz
backend/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
backend/hs_err_pid*
backend/replay_pid*
